@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:ital@1&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.insert-data {
    font-weight: 600;
    /* background-color: red; */
}

.edit-data {
    font-weight: 600;
    /* background-color: red; */
}

.insert-genre {
    margin: 0px 0px 10px 0px;
}

/* Card-product */
.card-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-img{
    height: 250px;
}

.stok-product {
    font-size: .75rem;
    font-weight: 600;
    padding: 0px;
    margin: 0%;
}

.info {
    background-color: #f1f0f0;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 0px;
    border-radius: 5px;
}

.card-img {
    border-radius: 5px;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    display: block;

}

.detail {
    margin: auto;
    display: block;
}